{# about.html #}
{% extends "layouts/layout.html" %}
{% block title %}About us{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <!-- Page Content -->

    <a  name="about"></a>
    <div class="content-section-about">

        <div class="container page-container">
            <div class="row">
                <!-- <br /> -->
                <!-- <br /> -->
                <!-- <br /> -->
                <h1>About us</h1>
                <p>Judgemental Mom is your anti-social-media-analyzer. Simply sign in with your Facebook and get judged!</p>

                <p><a href="https://github.com/nlouie/judgemental-mom" target="_blank">Fork Judgemental Mom on Github!</a></p>

                <h3> Judgemental Mom is an organic, gluten free, non-GMO product. </h3>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-about -->

    <a  name="privacy"></a>
    <div class="content-section-about">

        <div class="container">
            <div class="row">
                <h2>Privacy</h2>
                <p>
                    Judgemental Mom stores some information about you after you sign in with Facebook.
                    Currently we store your name, oauth id, and email. We don't have plans on storing your analysis results.
                </p>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-privacy -->

    <div class="content-section-contact">
        <div class="container">
            <div class="row">
               <h2>Contact</h2>
               <h4>Please send all hate mail to:</h4>
               <address><a class="link" href="mailto:admin@judgementalmom.com">admin@judgementalmom.com</a></address>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-contact -->
{% endblock %}