{# connect.html #}
{% extends "layouts/layout.html" %}
{% block title %}Connect{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">

    </style>
{% endblock %}
{% block content %}
    <!-- Page Content -->

	<a  name="404"></a>
    <div class="content-section-404">

        <div class="container page-container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                        <h1>404 error</h1>
                        <h3>uh oh...</h3>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 3em; padding-top: 10%"></i>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-404 -->
{% endblock %}