{# index.html #}
{% extends "layouts/layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">

    </style>
{% endblock %}
{% block content %}
    <div>
        <h1 class="cover-heading">Please go away.</h1>
        <p class="lead">I don't want to talk about it right now.
            <br><span style="font-family: 'Pacifico', cursive;"> - Judgemental Mom</span>
        </p>
        <p class="lead">
          <a href="login/fb" class="btn btn-lg btn-default">Sign in with Facebook</a>
        </p>
    </div>

{% endblock %}