{% extends "layouts/layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div>
        <h1 class="cover-heading">Please go away.</h1>
        <p class="lead">I don't want to talk about it right now.
            <br><span style="font-family: 'Pacifico', cursive;"> - Judgemental Mom</span>
        </p>
        <p class="lead">
          <a href="http://leekspin.com" class="btn btn-lg btn-default">Piss off</a>
        </p>
    </div>

{% endblock %}