{# index.html #}
{% extends "layouts/layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">

    </style>
{% endblock %}
{% block content %}


<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Judgemental Mom</h1>
                    <h3>The Anti-Social-Media Analyzer</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="login/fb" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Analyze your Facebook!</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/nlouie/judgemental-mom" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- /.intro-header -->

    <!-- Page Content -->

<a  name="front"></a>
<div class="content-section-front">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Analyze Your Social Media Accounts!<br><small>Facebook support only</small></h2>
                <p class="lead"><a href="login/fb">Get your own Judgemental Mom!</a></p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="http://cs-people.bu.edu/nlouie/jm/mom-yelling.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-front -->

{% endblock %}