{% extends "layouts/layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <style>
        .personal-info {
            background-color: #fafafa;
            padding: 10px 0px 35px 0px;
            border: .5px solid #888888;
            margin-top: 10px;
        }

        h3 {
            text-align: center !important;
            margin-top: 30px !important;
            font-size: 20px !important;
            text-transform: uppercase !important;
            font-weight: 700 !important;
            letter-spacing: .4px !important;
        }

        h4 {
            text-align: center !important;
            color: #666666;
            margin-top: 20px !important;
            font-size: 16px !important;
            text-transform: uppercase !important;
            font-weight: 700 !important;
            letter-spacing: .4px !important;
        }

        .based {
            text-align: center;
            font-weight: 500;
            width: 80%;
            display: block;
            margin: 0 auto;
        }

        .sub-info {
            text-align: center;
            margin-top: 6px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: .4px;
        }
    </style>

    <a name="login"></a>
    <div class="content-section-login">

        <div class="container page-container">
            <div class="row">
                <!-- <br /> -->
                <!-- <br /> -->
                <!-- <br /> -->
                <div class="personal-info">
                    {% if output %}
                        <h3>{{ output.name }}'s Judgemental Mom Results</h3>
                        <div class="sub-info">Your email is: {{ output.email }}</div>
                        <div class="sub-info">Your relationship status is: {{ output.relationship_status }}</div>
                        <div class="sub-info">Your gender is: {{ output.gender }}</div>
                        {% if result.error %}
                            <h3>Damn that error: {{ result.error.message }}</h3>
                        {% endif %}
                        <!-- <h5>Your id is: {{ output.oauth_id }}</h5> -->

                    {% endif %}

                    <div class="row">
                        <div class="col-sm-4">
                            {% if output.analysis.tops.emotion %}
                            <h4>Emotion Analysis </h4>
                                <p class="based">Based on your last <em>100</em> Facebook posts, your top mood is:
                                    <strong>{{ output.analysis.tops.emotion }}</strong></p>
                            {% endif %}
                        </div>

                        <div class="col-sm-4">
                            {% if output.analysis.tops.political %}
                                <h4>Political Analysis</h4>
                                <p class="based">Based on your last <em>100</em> Facebook posts, your top political leaning is:
                                    <strong>{{ output.analysis.tops.political }}</strong></p>
                            {% endif %}
                        </div>
                        <div class="col-sm-4">
                            {% if output.analysis.tops.personality %}
                                <h4>Personality Analysis</h4>
                                <p class="based">Based on your last <em>100</em> Facebook posts, your top personality is:
                                    <strong>{{ output.analysis.tops.personality }}</strong></p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if playlists_recs and output.analysis.tops.emotion %}
                    <div class="container col-md-6">
                        <h2>Suggested Playlists</h2>
                        <p>Maybe you would care for some {{ output.analysis.tops.emotion }} music?</p>
                        <table class="table">
                            {% for playlist in playlists_recs['playlists']['items'] %}
                                <tr>
                                    <th>Name</th>
                                    <th>Image</th>
                                </tr>
                                <tr>
                                    <td><h4><a href="{{ playlist.uri }}">{{ playlist.name }}</a></h4></td>
                                    <td>
                                        <div class="playlist-image-container">
                                            <a href="{{ playlist['images'][0]['url'] }}">
                                                <img src="{{ playlist['images'][0]['url'] }}" width="100" alt="{{ playlist.name }}">
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                {% endif %}
                {% if songs %}
                    <div class="container col-md-6">
                        <h2>Suggested Songs</h2>
                        <table class="table">
                            <tr>
                                <th>Artist</th>
                                <th>Name</th>
                                <th>Image</th>
                            </tr>
                            {% for song in songs %}
                                <tr>
                                    <td><h4><a href="{{ songs[song]['artist_spotify_url'] }}">{{ songs[song]['artist_name'] }}</a></h4></td>
                                    <td><h4><a href="{{ songs[song]['song_spotify_url'] }}">{{ song }}</a></h4></td>
                                    <td>
                                        <a href="{{ songs[song]['album_spotify_url'] }}">
                                            <img src="{{ songs[song]['album_preview_pic'] }}" width="100">
                                        </a>

                                    </td>
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                {% endif %}

            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-login -->
    {#        {% if session %}#}
    {#            {{ session }}#}
    {#        {% endif %}#}
{% endblock %}