{% extends "layouts/layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <!-- Page Content -->

    <a name="login"></a>
    <div class="content-section-login">

        <div class="container page-container">
            <div class="row">
                <!-- <br /> -->
                <!-- <br /> -->
                <!-- <br /> -->
                <h1>Your Judgemental Mom Results</h1>
                {% if result.error %}
                    <h3>Damn that error: {{ result.error.message }}</h3>
                {% endif %}

                {% if output %}
                    <h3>Hi {{ output.name }}</h3>
                    <!-- <h5>Your id is: {{ output.oauth_id }}</h5> -->
                    <h5>Your email is: {{ output.email }}</h5>
                    <h5>Your relationship status is: {{ output.relationship_status }}</h5>
                    <h5>Your gender is: {{ output.gender }}</h5>
                {% endif %}

                <h3>Facebook Posts Analysis</h3>

                {% if output.analysis.tops.emotion %}
                    <h4>Emotion Analysis </h4>
                    <p>Based on your last <em>100</em> Facebook posts, your top mood is:
                        <strong>{{ output.analysis.tops.emotion }}</strong></p>
                {% endif %}

                {% if output.analysis.tops.political %}
                    <h4>Political Analysis</h4>
                    <p>Based on your last <em>100</em> Facebook posts, your top political leaning is:
                        <strong>{{ output.analysis.tops.political }}</strong></p>
                {% endif %}

                {% if output.analysis.tops.personality %}
                    <h4>Personality Analysis</h4>
                    <p>Based on your last <em>100</em> Facebook posts, your top personality is:
                        <strong>{{ output.analysis.tops.personality }}</strong></p>
                {% endif %}

                {% if playlists_recs and output.analysis.tops.emotion %}
                    <div class="container col-md-6">
                        <h2>Suggested Playlists</h2>
                        <p>Maybe you would care for some {{ output.analysis.tops.emotion }} music?</p>
                        <table class="table">
                            {% for playlist in playlists_recs['playlists']['items'] %}
                                <tr>
                                    <th>Name</th>
                                    <th>Image</th>
                                </tr>
                                <tr>
                                    <td><h4><a href="{{ playlist.uri }}">{{ playlist.name }}</a></h4></td>
                                    <td>
                                        <div class="playlist-image-container">
                                            <a href="{{ playlist['images'][0]['url'] }}">
                                                <img src="{{ playlist['images'][0]['url'] }}" width="100" alt="{{ playlist.name }}">
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                {% endif %}
                {% if songs %}
                    <div class="container col-md-6">
                        <h2>Suggested Songs</h2>
                        <table class="table">
                            <tr>
                                <th>Artist</th>
                                <th>Name</th>
                                <th>Image</th>
                            </tr>
                            {% for song in songs %}
                                <tr>
                                    <td><h4><a href="{{ songs[song]['artist_spotify_url'] }}">{{ songs[song]['artist_name'] }}</a></h4></td>
                                    <td><h4><a href="{{ songs[song]['song_spotify_url'] }}">{{ song }}</a></h4></td>
                                    <td>
                                        <a href="{{ songs[song]['album_spotify_url'] }}">
                                            <img src="{{ songs[song]['album_preview_pic'] }}" width="100">
                                        </a>

                                    </td>
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                {% endif %}

            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-login -->
    {#        {% if session %}#}
    {#            {{ session }}#}
    {#        {% endif %}#}
{% endblock %}